@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   overflow-x: hidden;
}

#displayer * {
   appearance: initial;
   inset: initial;
   margin: initial;
   padding: initial;   
}

#displayer ol, 
#displayer ul { 
   list-style-type: decimal; 
   list-style-position: inside; 
   margin-left: 15px; 
}